*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.box{
    background-color: rgb(163, 100, 221);

}

main{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.616);
}